* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://s3.amazonaws.com/pbblogassets/uploads/2017/02/09153006/SE-COVER.jpg') fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial;
  color: white;
  font-size: 20px;
}

header {
  width: 100%;
  display: block;
}

.logo-box {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.logo {
  margin-top: 5%;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard {
  display: none;
  text-align: center;
  margin-top: 20px;
}

main {
  margin-top: 75px;
}

.quiz-start {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(94, 83, 83, 0.5);
}

.quiz-start h4 {
  margin-top: 20px;
}

button {
  margin-top: 20px;
  font-size: 20px;
  color: #473c19;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

button:hover, button:focus {
  background-color: #473c19;
  color: white;
}

.quiz-form {
  width: 100%;
  background-color: rgba(94, 83, 83, 0.5);
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  display: block;
  text-align: center;
}

.answerOption {
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
}

fieldset {
  border: none;
  text-align: left;
}

legend {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answerOption:hover, .answerOption:focus {
  background-color: white;
  color: #473c19;
  transition: all 0.3s ease-out;
}

input[type=radio] {
  margin-right: 10px;
}

.quiz-form h1, h4{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
.quiz-form, .quiz-start {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (min-width: 1300px) {
  body {
    font-size: 125%;
  }
}
